.flex-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container {
    background-color: $bad-blue;
    max-width: 60rem;
    margin: 0 auto;
    padding: $m-size $m-size;
    //flex-grow: 1;
}
.container__flex-footer {
    background: none;
    flex-grow: 1;
}

.container__ptext {
    color: $off-white;
    //font-weight: 200;
    font-size: $m-size;
}

.container__h4text {
    margin: 0;
}

.container__testimonial {
    display: flex;
    justify-content: center;
}

.container__testimonial-pname {
    font-weight: 200;
    font-style: italic;
    font-size: $m-size;
    color: $off-white;
}

.container__testimonial-ptest1 {
    font-weight: 200;
    font-size: $m-size;
    font-style: italic;
    color: $off-white;
    border-top: 0.12rem solid darken($purple, 10%);
    border-bottom: 0.12rem solid darken($purple, 10%);
    max-width: 45rem;
    padding: 10px 0;
    text-align: center;
    animation-name: testFade;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.container__testimonial-ptest2 {
    font-weight: 200;
    font-size: $m-size;
    font-style: italic;
    color: $off-white;
    border-top: 0.12rem solid darken($purple, 10%);
    border-bottom: 0.12rem solid darken($purple, 10%);
    max-width: 45rem;
    padding: 10px 0;
    text-align: center;
    animation-name: testFade;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    opacity: 0;
}

.container__testimonial-ptest3 {
    font-weight: 200;
    font-size: $m-size;
    font-style: italic;
    color: $off-white;
    border-top: 0.12rem solid darken($purple, 10%);
    border-bottom: 0.12rem solid darken($purple, 10%);
    max-width: 45rem;
    padding: 10px 0;
    text-align: center;
    animation-name: testFade;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    opacity: 0;
}
 
.container__team {
    display: flex;
    flex-direction: row;
    max-width: 60rem;
    
}

.container__idea {
    background-color: $bad-gray;
    border-bottom: .3rem solid darken($dark-blue, 5%);
    padding: $s-size;
    margin: 0;
}

.container__badDiv {
    padding-top: $m-size;
}

@keyframes testFade {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}