.form {
    display: flex;
    flex-direction: column;
    //padding: $m-size;
}

.form__label {
    font-weight: 200;
    font-style: italic;
    font-size: $m-size;
    color: $off-white;
    padding: $s-size 0 $xs-size;
}

.form__input, .form__select {
    background-color: $bad-gray;
    min-height: 4rem;
    border: none;
    border-bottom: .3rem solid darken($purple, 10%);
    color: white;
    font-size: $m-size;
    flex-grow: 1;
}

.form__button {
    background: $purple;
    border: none;
    border-bottom: .3rem solid darken($purple, 10%);
    color: white;
    font-weight: 500;
    padding: $s-size;
}

.form__button:disabled {
    opacity: .5;
}