.idea__container {
    display: flex;
    flex-direction: column;
    padding: $m-size;
}

.idea__button {
    background: $purple;
    border: none;
    border-bottom: .3rem solid darken($purple, 10%);
    color: white;
    font-weight: 500;
    padding: $s-size;
    width: 100%;
}