.ReactModalPortal > div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 300ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close, .ReactModalPortal .ReactModal__Content--before-close {
    opacity: 0;
}

.modal {
    background: $light-blue;
    color: white;
    max-width: 30rem;
    outline: none;
    padding: $l-size;
    text-align: center;
}

.modal__title {
    margin: 0 0 $m-size 0;
}

.modal__body {
    margin: 0 0 $l-size 0;
    font-size: 1.5rem;
    font-weight: 300;
    word-break: break-word;
}

.button {
    background: $purple;
    border: none;
    border-bottom: .3rem solid darken($purple, 10%);
    color: white;
    font-weight: 500;
    padding: $s-size;
}

.modal__pic {
    max-width: 15rem;
    height: auto;
    animation-name: fadeInHibachi;
    animation-duration: 1s;
}

@keyframes fadeInHibachi {
    0% {
        opacity: 0;
        
    }

    80% {
        opacity: 0;
        transform: translateX(-3rem);
    }

    100% {
        opacity: 1;
        
    }
}