.nav__link {
    color: $off-white;
    font-size: $s-size;
    font-weight: 800;
    text-decoration: none;
    padding: 0 $s-size 0 0;
}

.nav__link--last {
    color: $off-white;
    font-size: $s-size;
    font-weight: 800;
    text-decoration: none;
}

.nav__container {
    opacity: 0;
    padding: $xs-size 0 $xs-size 0;
    align-self: flex-end;
    animation-name: moveInRight;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.is-active {
    color: white;
}

@media (min-width: $desktop-breakpoint) {
    .nav__link {
        padding: 0 $m-size 0 0;
        font-size: $m-size;
    }
    .nav__link--last {
        font-size: $m-size;
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translate(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}
