.text-transform {
    font-weight: 200;
}

.text-transform__idea {
    font-size: $s-size;
    font-weight: 400;
}

.text-transform-margin__noidea {
    margin-bottom: 0;
}

.text-transform-margin__idea {
    color: $off-white;
}

.text-transform_tags {
    margin-bottom: 0;
}

.text-transform-margin__tags {
    font-size: $s-size;
    color: $off-white;
    word-break: break-word;
}