
html {
    font-size: 62.5%;
    //background: url('https://i.imgur.com/V9MAflZ.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: darken(#091d3d, 1.6%)
}

body {
    font-size: $m-size;
    color: white;
    font-family: 'Railway', sans-serif;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: auto;
}

input, select {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


